<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>BIM-GIS平台</title>

		<link rel="stylesheet" href="./static/css/font-awesome.min.css" />
		<link rel="stylesheet" href="./static/main/main.css" />
		<link rel="stylesheet" href="./static/css/spop.css" />
		<link rel="stylesheet" href="./static/iconfont/iconfont.css" />
		<link rel="stylesheet" href="./static/css/elementUI/elementUI.css" />
		<link rel="stylesheet" href="./static/css/zTree/zTreeStyle.css" />
		<link rel="stylesheet" href="./static/css/nprogress.css" />
	</head>

	<body>
		<div id="app">
			<template>
				<div id="mainContainer">
					<div id="contentWrapper">
						<div id="viewerContainer"></div>
						<!-- 目录树 -->
						<div id="treeContainer" class="bimsurfer-static-tree">
							<!-- 目录树 -->
							<div id="treeBox" class="touchmove">
								<div class="treeTop">
									<span>目录树</span>
								</div>
								<!-- 目录树搜索区域 -->
								<div class="searchArea">
									<div class="inputBox">
										<el-input
											clearable
											placeholder="搜索目录树"
											v-model="searchTreeText"
											@focus="searchFocusFlag=true"
											@blur="searchFocusFlag=false"
											@input="onTreeSearchInput"
										></el-input>
										<div class="searchLength" v-show="searchNodesList.length>0">
											<span>共{{searchNodesList.length}}条结果</span>
										</div>
									</div>
									<div class="resList" :class="{active:searchFocusFlag}">
										<div
											class="listItem"
											v-for="i in searchNodesList"
											:key="i.id"
											@click="selNodesItem(i)"
											:title="i.name"
										>
											<span>{{i.name}}</span>
										</div>
									</div>
								</div>
								<!-- zTree渲染目录树 -->
								<div class="treeContent">
									<ul id="regionZTree" class="ztree"></ul>
								</div>
							</div>
						</div>
						<!-- 工具栏 -->
						<div class="toolsBox">
							<div
								class="toolsItem iconfont icon-home2 mainPersp"
								title="主视角"
								@click="swithchMainView"
							></div>
							<div
								class="toolsItem iconfont icon-erji-lujingguanli"
								title="路径漫游"
								@click="roamingBoxShow = !roamingBoxShow"
							></div>
							<div
								class="toolsItem iconfont icon-xiangqing"
								title="构件详情"
								@click="detailBoxShow = !detailBoxShow"
							></div>
							<div
								class="toolsItem iconfont icon-goujianshaixuanqi"
								title="构件筛选器"
								@click="typeBoxShow = !typeBoxShow"
							></div>
							<div class="toolsItem iconfont icon-setting" title="设置" @click=""></div>
						</div>
						<!-- 漫游路径框体 -->
						<div id="roamingPath" class="touchmove" v-show="roamingBoxShow">
							<div class="top">
								<span>路径漫游</span>
								<span class="iconfont icon-close" @click="roamingBoxShow=false"></span>
							</div>
							<div class="btnBox">
								<button class="iconfont icon-plus" @click="addRoamingPath">添加漫游点</button>
								<el-input placeholder="漫游时间(s)" v-model="curRoamingTime" clearable></el-input>
							</div>
							<div class="pathList">
								<div class="item" v-for="(i,index) in pathList" :key="index">
									{{i.title}}
									<div class="itemOptions">
										<span @click="playRoamingItems(index)">播放</span>
										<span @click="delRoamingItems(index)">删除</span>
									</div>
								</div>
							</div>
							<div class="playRoamingPath">
								<button
									class="iconfont icon-triangle"
									:class="{active:pathList.length>1}"
									@click="playRoaming"
								>
									播放漫游
								</button>
							</div>
						</div>
						<!-- 构件详情框体 -->
						<div id="detailBox" class="touchmove">
							<div class="detailTop">
								<span>构件详情</span>
							</div>
							<div id="dataContainer"></div>
						</div>
						<!-- 构件筛选器框体 -->
						<div id="typeBox" class="touchmove" v-show="typeBoxShow">
							<div class="typeTop">
								<span>构件筛选器</span>
								<span class="iconfont icon-close" @click="typeBoxShow=false"></span>
							</div>
							<div id="dataContainer">
								<el-tree
									:data="typeTreeData"
									show-checkbox
									node-key="desc"
									:default-checked-keys="['所有类型构件']"
									:default-expand-all="true"
									:check-on-click-node="true"
									@check="typeTreeOnCheck"
									:highlight-current="true"
								>
								</el-tree>
							</div>
						</div>
						<!-- 构件属性设置框体 -->
						<div class="settingBox">
							<div class="settingItem">
								<span>透明度</span>
								<el-slider v-model="propSettings.visible" @input="visibleSliderInput"></el-slider>
							</div>
							<div class="settingItem">
								<span class="demonstration">颜色</span>
								<el-color-picker
									v-model="propSettings.color"
									@change="colorPickerChange"
									color-format="RGB"
									show-alpha
								></el-color-picker>
							</div>
						</div>
					</div>
				</div>
			</template>
		</div>

		<!-- <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script> -->
		<script type="text/javascript" src="./static/js/lib/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="./static/js/lib/vue.js"></script>
		<script type="text/javascript" src="./static/js/lib/elementUI.js"></script>
		<!-- 组件 -->
		<!-- vue的方法 -->
		<script type="text/javascript" src="./static/js/lib/require.js"></script>
		<script type="text/javascript" src="./static/main/vuePart.js"></script>
		<script type="text/javascript" src="./static/js/lib/spop.js"></script>

		<script type="text/javascript" src="./dependency/bimserver/bimserverclient.js"></script>
		<script type="text/javascript" src="./dependency/bimserver/model.js"></script>
		<script type="text/javascript" src="./dependency/bimserver/bimserverapiwebsocket.js"></script>
		<script type="text/javascript" src="./dependency/bimserver/bimserverapipromise.js"></script>
		<script type="text/javascript" src="./dependency/bimserver/geometry.js"></script>
		<script type="text/javascript" src="./dependency/bimserver/ifc2x3tc1.js"></script>
		<script type="text/javascript" src="./dependency/bimserver/ifc4.js"></script>
		<script type="text/javascript" src="./dependency/bimserver/translations_en.js"></script>

		<script type="text/javascript" src="./static/js/config.js"></script>
		<script type="text/javascript" src="./static/js/login.js"></script>
		<script type="text/javascript" src="./static/js/loadModel.js"></script>

		<script type="text/javascript" src="./static/main/main.js"></script>
		<!-- 树形插件 -->
		<script src="./static/js/components/jquery.ztree.all.js" type="text/javascript"></script>
	</body>
</html>
