* {
  box-sizing: border-box;
  font-family: "Open Sans";
}
*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 6px;
  box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  background: #848485;
  width: 60px;
  height: 60px;
}
*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: #353637;
}
.el-tooltip__popper,
.el-color-dropdown {
  z-index: 100050 !important;
}
body {
  margin: 0;
  padding: 0;
}
#mainContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 10pt;
}
#mainContainer #topSection {
  padding-left: 10px;
}
#mainContainer #contentWrapper {
  position: relative;
  height: 100%;
}
#mainContainer #contentWrapper #viewerContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 150%;
  background-image: linear-gradient(#87A7F0, #8baded, #a3c1f3, #bad9f8, #d6ecfd);
}
#mainContainer #contentWrapper #viewerContainer canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
}
#mainContainer #contentWrapper #treeContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 70%;
  z-index: 100001;
}
#mainContainer #contentWrapper #treeContainer .treeIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: #212622;
  color: #ababab;
  top: 5px;
  left: 10px;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
#mainContainer #contentWrapper #treeContainer #treeBox {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  user-select: none;
}
#mainContainer #contentWrapper #treeContainer #treeBox .treeTop {
  background-color: #19334C;
  color: #fff;
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}
#mainContainer #contentWrapper #treeContainer #treeBox .treeTop span {
  font-weight: bold;
  font-size: 18px;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea {
  height: 35px;
  line-height: 35px;
  position: relative;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .inputBox {
  display: flex;
  align-items: center;
  height: 35px;
  justify-content: space-between;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .inputBox .el-input {
  flex: 1;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .inputBox .el-input input {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: #f5f5f5;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .inputBox .searchLength {
  width: 35%;
  height: 35px;
  padding: 0 5px;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 12px;
  background-color: #F3F7FE;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .resList {
  width: 100%;
  height: 0px;
  background-color: #f5f5f5;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  top: 35px;
  z-index: 1000060;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .resList.active {
  height: 300px;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .resList .listItem {
  cursor: pointer;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#mainContainer #contentWrapper #treeContainer #treeBox .searchArea .resList .listItem:hover {
  background-color: rgba(6, 6, 6, 0.8);
  color: #fff;
}
#mainContainer #contentWrapper #treeContainer #treeBox .treeContent {
  flex: 1;
  padding: 5px;
  border-top: solid 1px #666;
  background-color: #19334C;
  color: #fff;
  overflow-x: auto;
  overflow-y: auto;
}
#mainContainer #contentWrapper #treeContainer #treeBox .treeContent a {
  color: #fff;
}
#mainContainer #contentWrapper .toolsBox {
  position: absolute;
  z-index: 100001;
  border-radius: 6px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  background-color: rgba(6, 6, 6, 0.8);
  display: flex;
}
#mainContainer #contentWrapper .toolsBox .toolsItem {
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: #ababab;
  cursor: pointer;
}
#mainContainer #contentWrapper #roamingPath {
  width: 300px;
  height: 420px;
  position: absolute;
  z-index: 100001;
  right: 100px;
  border-radius: 6px;
  overflow: hidden;
  top: 10px;
  user-select: none;
}
#mainContainer #contentWrapper #roamingPath .top {
  width: 100%;
  height: 45px;
  cursor: move;
  color: #fff;
  line-height: 45px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  background-color: #050505;
  border-bottom: 1px solid #aaa;
}
#mainContainer #contentWrapper #roamingPath .top span {
  font-weight: bold;
  font-size: 18px;
}
#mainContainer #contentWrapper #roamingPath .top .icon-close {
  cursor: pointer;
}
#mainContainer #contentWrapper #roamingPath .btnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #aaa;
  line-height: 50px;
  padding: 0 10px;
}
#mainContainer #contentWrapper #roamingPath .btnBox button {
  height: 35px;
  outline: none;
  border-radius: 6px;
  border: solid 1px #179b84;
  color: #179b84;
  background: transparent;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 14px;
}
#mainContainer #contentWrapper #roamingPath .btnBox .el-input {
  width: 50%;
}
#mainContainer #contentWrapper #roamingPath .btnBox .el-input input {
  background: none;
  height: 35px;
  color: #eee;
}
#mainContainer #contentWrapper #roamingPath .pathList {
  height: 280px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 0;
  overflow-y: auto;
}
#mainContainer #contentWrapper #roamingPath .pathList .item {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  position: relative;
}
#mainContainer #contentWrapper #roamingPath .pathList .item .itemOptions {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
  color: #179b84;
  cursor: pointer;
}
#mainContainer #contentWrapper #roamingPath .pathList .item:hover {
  background-color: rgba(102, 102, 102, 0.6);
}
#mainContainer #contentWrapper #roamingPath .playRoamingPath {
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  border-top: solid 1px #aaa;
  background-color: rgba(0, 0, 0, 0.7);
}
#mainContainer #contentWrapper #roamingPath .playRoamingPath button {
  outline: none;
  border-radius: 6px;
  border: solid 1px #aaa;
  color: #aaa;
  background: transparent;
  padding: 3px 20px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 20px;
}
#mainContainer #contentWrapper #roamingPath .playRoamingPath button::before {
  margin-right: 5px;
}
#mainContainer #contentWrapper #roamingPath .playRoamingPath .active {
  border: solid 1px #179b84;
  color: #fff;
  background-color: #179b84;
}
#mainContainer #contentWrapper #detailBox {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 70%;
  z-index: 100001;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  user-select: none;
}
#mainContainer #contentWrapper #detailBox .detailTop {
  background-color: #19334C;
  border-bottom: solid 1px #666;
  cursor: move;
  color: #fff;
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
#mainContainer #contentWrapper #detailBox .detailTop span {
  font-weight: bold;
  font-size: 18px;
}
#mainContainer #contentWrapper #detailBox .detailTop .icon-close {
  cursor: pointer;
}
#mainContainer #contentWrapper #detailBox #dataContainer {
  flex: 1;
  padding: 0 10px 10px;
  background-color: #19334C;
  color: #fff;
  overflow-y: auto;
}
#mainContainer #contentWrapper #typeBox {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 300px;
  height: 420px;
  z-index: 100001;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
  user-select: none;
}
#mainContainer #contentWrapper #typeBox .typeTop {
  background-color: #050505;
  border-bottom: solid 1px #666;
  cursor: move;
  color: #fff;
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
#mainContainer #contentWrapper #typeBox .typeTop span {
  font-weight: bold;
  font-size: 18px;
}
#mainContainer #contentWrapper #typeBox .typeTop .icon-close {
  cursor: pointer;
}
#mainContainer #contentWrapper #typeBox #dataContainer {
  width: 100%;
  flex: 1;
  padding: 0 10px 10px;
  background-color: rgba(6, 6, 6, 0.8);
  color: #fff;
  overflow-y: auto;
}
#mainContainer #contentWrapper #typeBox #dataContainer .el-tree {
  background: none;
  color: #fff;
}
#mainContainer #contentWrapper #typeBox #dataContainer .el-tree-node__content:hover {
  background-color: rgba(20, 20, 20);
}
#mainContainer #contentWrapper #typeBox #dataContainer .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: none;
}
#mainContainer #contentWrapper #typeBox #dataContainer .el-tree-node:focus > .el-tree-node__content {
  background: none;
}
#mainContainer #contentWrapper .settingBox {
  width: 300px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  position: absolute;
  top: 70px;
  right: 50%;
  transform: translateX(50%);
  z-index: 100030;
}
#mainContainer #contentWrapper .settingBox .settingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainContainer #contentWrapper .settingBox .settingItem .el-slider,
#mainContainer #contentWrapper .settingBox .settingItem .el-color-picker {
  width: 80%;
  text-align: center;
}
